body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    align-self: start;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    margin-top: 0;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
    width: 800px;
}

.answer-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-label {
    margin-right: 10px;
}

.answer-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.submit-button {
    padding: 8px 16px;
    margin-left: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

hr.solid {
    border-top: 3px solid #bbb;
    width: 100px;
}

p.disclaimer {
    font-style: italic;
    text-decoration: underline;
}
p.space {
    margin-bottom: 100px;
}

p.answer-result {
    white-space: pre-line;
}

p.base {
    font-size: 12px;
    color: white;
}
.box {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 17px;
    align-items: center;
}

.modal {
    align-items: center;
    display: flex;
    margin-left: 10px;
    align-self: start;
    margin-top: 361px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: #ffffff;
    border: 5px black;
    width: 200px;
    padding: 1em 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

.open {
    color: #808080;

    position: relative;
    top: 38px;
    left: 390px;
    text-decoration: none;
    font-size: 30px;
}

b {
    font-weight: normal;
}

.qpsubmit {
    padding-top: 10px;
}